// **************************************************
// Variables.scss
// Description: To set global variables for scss
// **************************************************



// **************************************************
// Global Colors
// **************************************************


// Colors
// -------------------------

$color-1: #BB07AD;
$color-2: #FF0066;




// **************************************************
// Typography
// **************************************************


// Font Stacks
// -------------------------

// Two Basic Font Choices
// -------------------------------------

// Font Weights
// --------------------------


// Font Sizes
// ---------------------------



// Line Height
// -------------------------

// global line height
$line-height-base:        1.5;

// heading line height
$line-height-heading:     1.1;
