// **************************************************
// Variables.scss
// Description: To set global variables for scss
// **************************************************



// **************************************************
// Global Colors
// **************************************************


// Base Colors
// -------------------------

$color-1: #BB07AD;
$color-2: #FF0066;
$color-3: #39394C;

// Gradients
// -------------------------

$gradient-1: linear-gradient($color-2, $color-1);
$gradient-2: linear-gradient(rgba(white, 0 ), rgba(white, .2));



// **************************************************
// Typography
// **************************************************


// Font Stacks
// -------------------------

// Two Basic Font Choices
// -------------------------------------

// Font Weights
// --------------------------


// Font Sizes
// ---------------------------



// Line Height
// -------------------------

// global line height

// heading line height
